package ${table.packageName};

import ${table.packageName}.${table.classNameLower};
import ${table.packageName}.${table.classNameLower}Vo;

import java.util.List;

@Mapper
public interface ${table.className}Dao extends ICommonDao<${table.className}>{

    public List<${table.className}Vo> findByParams(${table.className}Vo ${table.classNameFirstLower}Vo);

}
