package ${table.packageName}.${table.tableName}.domain;

import com.monitor.baseservice.common.db.MyMapper;
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;

/**
* 映射SQL语句的接口，无逻辑实现
*
* @author ${author}
*/
@Repository
@Mapper
public interface ${table.className}Mapper extends extends ICommonMapper<${table.className}Info> {

    public List<${table.className}Info> findByParams(${table.className}Info ${table.classNameFirstLower}Info);

}
