package ${table.packageName}.${table.tableName};

import com.github.pagehelper.PageInfo;
import ${table.packageName}.${table.tableName}.domain.${table.className}Info;

@Service
public interface ${table.className}Service {

}
